<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampro.AccomMapper">
	<!-- 숙소 전체 조회 : 게시물 전체 페이지에서 보여줄 데이터만 조회 -->
	<select id="getAccomList" resultType="AccomVo">
		select aname
			   , image
			   , bno
			   , address
			   , addressdetail
			   , anumber
			   , areplycnt
		from tbl_acc
		where bno between 1 and 30
		order by bno desc
	</select>
	
	<!-- 카테고리별 숙소 전체 조회 : 게시물 전체 페이지에서 보여줄 데이터만 조회 -->
	<select id="getCategoryList" resultType="AccomVo">
		select aname
			   , address
			   , addressdetail
			   , anumber
			   , image
		from tbl_acc
		where category = #{category}
		order by bno asc 
	</select>
	
	<!-- 해당 숙소 상세보기 : 상세 페이지에서 보여줄 전체 데이터 조회 -->
	<select id="getAccomInfo" resultType="AccomVo">
		select * from tbl_acc
		where bno = #{bno}
	</select>
	
	<!-- 해당 숙소 상세보기 시 조회수 업데이트 -->
	<update id="setAccomViewcnt">
		update tbl_acc
		set aviewcnt = 1 + aviewcnt
		where bno = #{bno}
	</update>
	
	<!-- 숙소 추가 -->
	<insert id="insertAccom">
		insert into tbl_acc
			(bno
			, category
			, aname
			, location
			, address
			, addressdetail
			, anumber
			, url
			, lat
			, aclong
			, image)
		values
			(seq_acc_bno.nextval
			, #{category}
			, #{aname}
			, #{location}
			, #{address}
			, #{addressdetail}
			, #{anumber}
			, #{url}
			, #{lat}
			, #{aclong}
			, #{image})
	</insert>
	
	<!-- 랜덤추천 : 숙소 개수 구하기 -->
	<select id="getAccomCount" resultType="int" >
		select count(*) from tbl_acc
	</select>
	
	<!-- 랜덤추천 : 추천 숙소 조회 -->
	<select id="getRecomendedAccomList" resultType="AccomVo" parameterType="Map">
		select * from tbl_acc
		where bno in
		<foreach collection="arrShopList" item="item" index="index" open="(" close=")" separator=",">
    		#{item}
    	</foreach>
	</select>
	
	
</mapper>