<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampro.ShowMapper">
	<!-- 카페 전체 조회 : 게시물 전체 페이지에서 보여줄 데이터만 조회 -->
	<select id="getCafeList" resultType="CafeVo">
		select cname
		       , address
		       , nvl(cnumber, '정보제공안함') cnumber
		       , image
		from tbl_cafe
		where bno between 1 and 30
        order by bno desc
	</select>
	
	<!-- 구 별 조회 -->
	<select id="getLocationList" resultType="CafeVo">
		select cname
		       , address
		       , nvl(cnumber, '-') cnumber
		       , image
		from tbl_cafe
		where location like '%' || #{location} || '%'
        order by bno desc	
	</select>
</mapper>