<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampro.FoodReplyMapper">
	<!-- 댓글 목록 -->
	<select id="replyList" resultType="FoodReplyVo">
		select * from tbl_restreply
		where bno = #{bno}
	</select>
	
	<!-- 댓글 추가 -->
	<insert id="insertReply">
		insert into tbl_restreply
			(rno
			, bno
			, replytext
			, replyer
			, regdate
			, updatedate
			, rgroup
			, rseq
			, rlevel
			, delete_yn
			)
		values
			(seq_reply_rno.nextval
			, #{bno}
			, #{replytext}
			, #{replyer}
			, #{regdate}
			, #{updatedate}
			, #{rgroup}
			, #{rseq}
			, #{rlevel}
			, #{delete_yn}
			)	
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateReply">
		update tbl_restreply
			replytext = #{replytext},
			replyer = #{replyer},
			updatedate = sysdate
		where rno = #{rno}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		delete from tbl_restreply
		where rno = #{rno}
	</delete>
	
	<!-- 수정날짜 얻기 -->
	<select id="getUpdatedate" resultType="java.sql.Timestamp">
		select updatedate from tbl_restreply
		where rno = #{rno}
	</select>
</mapper>