<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.teampro.UserInfoMapper">
	<!-- 유저 한명 정보 읽기 -->
	<!-- 마이페이지에 접속하면 해당 문구로 정보 받아와서 화면에 띄움 -->
	<!-- 사용자 정보 수정 페이지로 넘어가도 마찬가지로 정보 받아와서 수정란에 띄움 -->
	<select id="readOneUserInfo" resultType="UserVo">
		select * from tbl_user
		where userid = #{userid}
	</select>
	
	<!-- 아이디로 닉네임 읽은 후 세션에 저장 -->
	<select id="readUnickname" resultType="String">
		select unickname from tbl_user
		where userid = #{userid}
	</select>
	
	<!-- 유저 정보 수정 -->
	<!-- 변경 가능한 정보 - [비밀번호, 닉네임, 이미지] -->
	<update id="updateUserInfo">
		update tbl_user set
			upw = #{upw},
			unickname = #{unickname},
			uimg = #{uimg}
		where userid = #{userid}
	</update>
	
	<!-- 마이페이지에서 사용할 해당 유저가 작성한 글 정보 -->
	<select id="readUserBoard" resultType="UserBoardDto">
		select * from tbl_userboard
		where userid = #{userid}
	</select>
	<!-- 해당 유저가 작성한 글 갯수 -->
	<select id="readUserBoardCount" resultType="int">
		select count(*) from tbl_userboard
		where userid = #{userid}
	</select>
	
	
	<!-- 마이페이지에서 사용할 해당 유저가 작성한 댓글 정보(작성한 글의 제목(b.title) 포함) -->
	<select id="readUserReply" resultType="UserReplyDto">
		select r.rno, r.bno, r.replytext, r.replyer, r.regdate, r.updatedate, r.delete_yn, b.title
		from tbl_userreply r, tbl_userboard b
		where r.userid = #{userid}
		and r.bno = b.bno
		and r.delete_yn = 'N'
	</select>
	<!-- 해당 유저가 작성한 댓글 갯수, delete_yn = 'N' (삭제되지 않은 댓글 갯수)만 가져옴-->
	<select id="readUserReplyCount" resultType="int">
		select count(*) from (select delete_yn from tbl_userreply
               				  where userid = 'testuser'
                			  and delete_yn = 'N')
	</select>
	
	<!-- 본인확인 완료된 계정의 본인확인 이메일 등록 및 verified 'F' -> 'T' 변경 -->
	<update id="updateVerified">
		update tbl_user set
			uemail = #{uemail},
			verified = 'T'
		where userid = #{userid}
	</update>
	
	
</mapper>