<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampro.AttachMapper">

	<!-- 썸네일이미지 테이블에 추가 -->
	<insert id="insertThumbnail">
		insert into tbl_attach(thumbnail, bno)
		values (#{thumbnail}, #{bno})
	</insert>
		
	<!-- 썸네일이미지 테이블에서 삭제 -->
	<delete id="deleteThumbnail">
		delete from tbl_attach
		where bno = #{bno}
	</delete>
	
	<!-- 썸네일이미지 수정 -->
	<update id="updateThumbnail">
		update tbl_attach
		set thumbnail = #{thumbnail}
		where bno = #{bno}
	</update>
	
	<!-- 썸네일path 얻기 -->
	<select id="getThumbnail" resultType="string">
		select thumbnail from tbl_attach
		where bno = #{bno}
	</select>
</mapper>