<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampro.UserBoardMapper">

	<select id="getUserArticleList" resultType="UserBoardVo">
		select * from tbl_userboard
	</select>
	
	<select id="getUserArticleDetail" resultType="UserBoardVo">
		select * from tbl_userboard
		where bno = #{bno}
	</select>

	<update id="addViewcnt">
		update tbl_userboard
		set viewcnt = viewcnt + 1
		where bno = #{bno}
	</update>
	
</mapper>