<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampro.FoodMapper">
	<!-- 맛집 전체 조회 : 게시물 전체 페이지에서 보여줄 데이터만 조회 / 상호, 주소, 번호, 오픈시간, 메뉴, 썸네일, 댓글 -->
	<select id="getFoodList" resultType="FoodVo">
		select rname
			   , address 
			   , rnumber
			   , openhours
			   , nvl(menu, '정보제공안함') menu
			   , thumbimage
			   , replycnt
			   , bno
		from (select rownum rnum, a.*
			from (select * from tbl_rest
				order by bno desc) a)
		where rnum between #{startRow} and #{endRow}		
	</select>
	
	<!-- 글개수 -->
	<select id="getFoodCnt" resultType="int">
		select count(*) from tbl_rest
	</select>
	
	
	<select id="getFilteredFoodCnt" resultType="int">
		select count(*) 
		  from tbl_rest
		 where location = #{location}
	</select>
	
	
	<!-- 맛집 필터링 조회 -->
	<select id="getFoodFilterList" resultType="FoodVo">
		select *
		from (select rownum rnum, a.*
			from (select * from tbl_rest
			       where location = #{location}
				order by bno desc) a)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 해당 맛집 상세보기 : 상세 페이지에서 보여줄 전체 데이터 조회 -->
	<select id="getFoodInfo" parameterType="int" resultType="FoodVo">
		select * from tbl_rest
		where bno = #{bno}
	</select>
	
	<!-- 해당 맛집 상세보기 시 조회수 업데이트 -->
	<update id="setFoodViewcnt">
		update tbl_rest
		set viewcnt = 1 + viewcnt
		where bno = #{bno}
	</update>
	
	<!-- 맛집 추가 -->
	<insert id="insertFood">
		insert into tbl_rest
			(bno
			, rname
			, content
			, location
			, address
			, rnumber
			, url
			, openhours
			, menu
			, lat
			, rlong
			, image
			, thumbimage)
		values
			(seq_rest_bno.nextval
			, #{rname}
			, #{content}
			, #{location}
			, #{address}
			, #{rnumber}
			, #{url}
			, #{openhours}
			, #{menu}
			, #{lat}
			, #{rlong}
			, #{image}
			, #{thumbimage})
	</insert>
	
	<!-- 랜덤추천 : 음식점 개수 구하기 -->
	<select id="getFoodCount" resultType="int" >
		select count(*) from tbl_rest
	</select>
	
	<!-- 랜덤추천 : 추천 맛집 조회 -->
	<select id="getRecomendedFoodList" resultType="FoodVo" parameterType="Map">
		select * from tbl_rest
		where bno in
		<foreach collection="arrShopList" item="item" index="index" open="(" close=")" separator=",">
    		#{item}
    	</foreach>
	</select>
	
	<!-- 조회수 / 좋아요 / 댓글 / bno 순으로 best5 추출 -->
	<select id="getBestFood" resultType="FoodVo">
		select * 
		from (
		    select * 
		    from tbl_rest
		    order by viewcnt desc,
                     likecnt desc,
                     replycnt desc
		) 
		where rownum between 1 and 5
	</select>
	
</mapper>