<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.teampro.PlaceMapper">
	<!-- 명소 전체 조회 : 게시물 전체 페이지에서 보여줄 데이터만 조회 -->
	<select id="getPlaceList" resultType="PlaceVo">
		select aname
			   , bno
			   , address
			   , anumber
			   , openhours
			   , thumbimage
			   , replycnt
		from tbl_attraction
		order by bno desc
	</select>
	
	<!-- 해당 명소 상세보기 : 상세 페이지에서 보여줄 전체 데이터 조회 -->
	<select id="getPlaceInfo" resultType="PlaceVo">
		select * from tbl_attraction
		where bno = #{bno}
	</select>
	
	<!-- 맛집 추가 -->
	<insert id="insertPlace">
		insert into tbl_attraction
			(bno
			 , title
			 , content
			 , aname
			 , location
			 , lat
			 , along
			 , address
			 , anumber
			 , opendays
			 , openhours
			 , price
			 , facility
			 , image
			 , thumbimage)
		values
			(seq_attraction_bno.nextval
			 , #{title}
			 , #{content}
			 , #{aname}
			 , #{location}
			 , #{lat}
			 , #{along}
			 , #{address}
			 , #{anumber}
			 , #{opendays}
			 , #{openhours}
			 , #{price}
			 , #{facility}
			 , #{image}
			 , #{thumbimage})
	</insert>
	
	<!-- 랜덤추천 : 명소 개수 구하기 -->
	<select id="getPlaceCount" resultType="int" >
		select count(*) from tbl_attraction
	</select>
	
	<!-- 랜덤추천 : 추천 숙소 조회 -->
	<select id="getRecomendedPlaceList" resultType="PlaceVo" parameterType="Map">
		select * from tbl_attraction
		where bno in
		<foreach collection="arrShopList" item="item" index="index" open="(" close=")" separator=",">
    		#{item}
    	</foreach>
	</select>
	
</mapper>